# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
dist/
bld/
bin/
Bin/
obj/
Obj/
*_test*.pdf

# visual studio
.vs
*_i.c
*_p.c
*.aps
*.bak
*.[Cc]ache
*.dbmdl
*.ilk
*.jfm
*.lib
*.log
*.ncb
*.[Oo]bj
*.opensdf
*.pch
*.resharper
*.sbr
*.sdf
*.sln.docstates
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc

appsettings.*.json
launchSettings.json

# nuget
*.nupkg

paket-files
/.paket/load/
packages